.Button {
    background: /*url(Noise-Template-Basic-800.png),*/ #228AFF;
    background-blend-mode: overlay, normal;
    border-radius: 100px;
    font-family: 'Montserrat', sans-serif;
    border-style: none;
    color: #FFF;
}

.Button:hover{
    background:#2A4252;
}