.Footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 4rem;
}

.Footer__powered {
    margin-left:2rem;
}

#Footer__cta {
    margin-right: 2rem;
}